.crew{
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: url("../../starter-code/assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}